[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/msanjaykumarreddy
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/msanjaykumarreddy
	label-Verified = -1..+1 group user/msanjaykumarreddy
	push = group user/msanjaykumarreddy
	read = group user/msanjaykumarreddy
	rebase = group user/msanjaykumarreddy
	removeReviewer = group user/msanjaykumarreddy
	submit = group user/msanjaykumarreddy
[access "refs/heads/*"]
	create = group user/msanjaykumarreddy
	push = +force group user/msanjaykumarreddy
	pushMerge = group user/msanjaykumarreddy
	read = group user/msanjaykumarreddy
[access "refs/tags/*"]
	push = group user/msanjaykumarreddy
	push = +force group user/msanjaykumarreddy
